* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: rgba(34, 34, 34, 0.9);
    padding: 17px 0 18px 0;

    .header__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header__logo {
        margin-right: 20px;
        text-decoration: none;
    }

    .header__right {
        display: flex;
    }

    .header__item:not(:last-child) {
        margin-right: 20px;
    }
}

.intro {
    height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 65px;

    .intro__wrap {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: flex-end;

        background-image: url('../img/img_main_001.png');
        background-repeat: no-repeat;
        background-position: -228px bottom;
    }

    /* -- -- Setting h1 on main -- --  */
    .intro__text {
        max-width: 377px;
    }

    .intro__text h1 {
        padding-left: 16px;
        border-left: 12px solid rgba(241, 109, 127, 1);
        letter-spacing: 0.03em;

        .bold {
            font-size: 48px;
            font-weight: 700;
        }

        .decore {
            font-size: 32px;
            color: rgba(241, 109, 127, 1);
        }
    }
}

/* -- -- Offers Section -- -- */

.offer {
    display: flex;
    justify-content: space-between;

    .offer__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .offer__card {
            display: flex;

            justify-content: center;
            align-items: center;

            width: 360px;
            height: 260px;
            margin-bottom: 30px;

            .offer__text {
                text-align: center;
                color: whitesmoke;

                .offer__heading {
                    font-weight: 300;
                    font-size: 16px;
                }

                .offer__for {
                    font-weight: 700;
                    font-size: 24px;
                    color: rgba(238, 108, 128, 1);
                }
            }
        }

        .offer__card:last-child {
            width: 100%;
            margin-bottom: 96px;
        }

        .img__01 {
            background-image: linear-gradient(to top, rgba(136, 110, 98, 0.7), rgba(7, 5, 5, 0.4)), url('../img/card_main_001.png');
        }

        .img__02 {
            background-image: linear-gradient(to top, rgba(136, 110, 98, 0.7), rgba(7, 5, 5, 0.4)), url('../img/card_main_002.png');
        }

        .img__03 {
            background-image: linear-gradient(to top, rgba(136, 110, 98, 0.7), rgba(7, 5, 5, 0.4)), url('../img/card_main_003.png');
        }

        .img__04 {
            height: 180px;
            background-image: linear-gradient(to top, rgba(136, 110, 98, 0.7), rgba(7, 5, 5, 0.4)), url('../img/img_main_002.png');
            background-size: cover;
        }
    }
}

.featured__items {
    align-items: center;
    margin-bottom: 57px;

    .heading {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        line-height: 36px;
    }

    .underline__text {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        font-weight: 300;
    }
}

/* -- -- Cards Section -- -- */
.card__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;

    .card {
        width: 360px;
        height: 581px;
        box-sizing: border-box;
        background: #F8F8F8;
        margin-bottom: 30px;
    }

    .card__item {
        width: 360px;
        height: 420px;
        background-color: rgba(247, 228, 226, 0.6);
    }

    .card__text {
        padding: 24px 18px 24px 18px;

        .heading__mini {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.05em;
            margin-bottom: 12px;
            color: initial;

        }

        .text__mini {
            font-weight: 300;
            font-size: 14px;
            color: #5D5D5D;
            margin-bottom: 18px;
        }

        .price {
            font-size: 16px;
            line-height: 19px;
            color: rgba(241, 109, 127, 1);
            margin-bottom: 20px;
        }

    }
}

/*  -- Button -- */
.button__type {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;

    .see__all_prods {
        border: 1px solid rgba(242, 99, 118, 1);
        display: inline-block;
        padding: 15px 80px;
        color: rgba(242, 99, 118, 1);
        line-height: 19px;
        line-height: 26px;
    }

    .see__all_prods:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
}

.info {
    background-color: rgba(34, 34, 34, 0.9);

    .info__wrap {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 103px 0;
        gap: 30px;

        .info__item {
            text-align: center;
            max-width: 360px;

            .info__img {
                width: 45px;
                height: 42px;
                /* margin-bottom: 16px; */
            }

            .info__title {
                color: whitesmoke;
                font-size: 20px;
                line-height: 24px;
                font-weight: 400;
                margin: 20px 0 16px;
            }

            .info__text {
                color: whitesmoke;
                font-size: 14px;
                line-height: 17px;
                font-weight: 300;
                min-width: 320px;
                text-align: center;
            }
        }

        .info__item:hover {
            transform: scale(1.1);
            transition: 0.3s;
        }
    }
}